*{
    position: relative;
}

body{
}
#titulo{
    background-color: skyblue;
    padding: 1rem;
    text-align: center;
    color: blue;
}
#contenedor{
    position: relative;
    margin-left: 50px;
    width: 1200px;
    height: 900px;
    float: left;
}
#contenedor button{
    display: block;
    position: relative;
    width: 150px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    float: left;

}
#contenedor canvas{
    float: left;
}

#lienzo{
    background: antiquewhite;
}

div{
    margin-left:  45px;
    position: relative;
}
.boton{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    float: left; 
    cursor: pointer;   
    background-color: aqua;
    position: relative;
}

.botones{
    width: 150px;
    height: 150px;
    position: relative;
    
}