<!DOCTYPE html>
<html>
    <head>
        <Meta charset="utf-8">
        <title> Sudoku </title>
        <link href="{{ url_for('static', filename='estilo.css') }}" type="text/css" rel="stylesheet" media="">
        <script src="{{url_for('static', filename='segundo.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <h1 id="titulo"> Sudoku </h1>
    </head>
    <body>
        <div id="contenedor">
            <canvas id="lienzo" width="900px" height="900px"></canvas>
            <button id="generar" onclick="consultarv2()">Consultar V2</button>
            <button id="comprobar" onclick="prueba()">probar Solucion</button>
            
        </div>
        <div class="botones">
            <button class="boton" onclick="">1 </button>
            <button class="boton" onclick="">2 </button>
            <button class="boton" onclick="">3 </button>
            <button class="boton" onclick="">4 </button>
            <button class="boton" onclick="">5 </button>
            <button class="boton" onclick="">6 </button>
            <button class="boton" onclick="">7 </button>
            <button class="boton" onclick="">8 </button>
            <button class="boton" onclick="">9 </button>
        </div>
        <script src="{{url_for('static', filename='canvas.js')}}"></script>
    </body>
</html>
