
body{    
    text-align: center;
}
#titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: skyblue;
    padding: 1rem;
    text-align: center;
    color: white;
}
.emergenteUsuario{
    background-color: skyblue;
    width: 900px;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-radius: 10px;
    left: 50%;
    top: 35%;
    margin-left: -450px;
    margin-top: -100px;
    position: absolute;
    display: none;

}
.emergenteInscripcion{
    background-color: skyblue;
    width: 900px;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-radius: 10px;
    left: 50%;
    top: 35%;
    margin-left: -450px;
    margin-top: -300px;
    position: absolute;
    display: none;
}
.emergenteEliminacion{
    background-color: skyblue;
    width: 900px;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-radius: 10px;
    left: 50%;
    top: 35%;
    margin-left: -450px;
    margin-top: -300px;
    position: absolute;
    display: none;
}
.emergenteAdministrador{
    background-color: aquamarine;
    width: 900px;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-radius: 10px;
    left: 50%;
    top: 35%;
    margin-left: -450px;
    margin-top: -100px;
    position: absolute;
    display: none;

}
.formulario{
    margin-top: 100px;
}
textarea{
    width: 300px;
    height: 20px;
}
.cerrar{
    position: absolute;
    right: 3px;
    top: 3px;
}
img {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}
.menuAdministrador{
    width: 800px;
    height: 50px;
    margin-top: 80px;
    margin-left: 140px;
    text-align: center;
    position: absolute;
}
.menuL {
    margin-left: 155px;
    margin-top: 365px;
    float: left;
    position: absolute;
}
.menuR {
    margin-left: 720px;
    margin-top: 365px;
    float: left;
    position: absolute;
}
.boton{
    margin-block-end: 28px;
    width: 90px;
    height: 70px;
    cursor: pointer;
}
.botonA{
    width: 100px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.ingresar{
    width: 80px;
    height: 20px;
}
.botonL{
    margin-left: 23px;
    margin-top: 364px;
    width: 100px;
    position: absolute;
}
.botonR{
    margin-left: 966px;
    margin-top: 364px;
    width: 100px;
    position: absolute;
}
.opcionL{
    width: 200px;
    height: 75px;
    text-align: left;
}
.opcionR{
    width: 200px;
    height: 75px;
    text-align: right;
}
.enunciado{
    position: absolute;
    margin-left: 240px;
    margin-top: 180px;
    text-align: center;
}
.texto{
    text-align: center;
    position: relative;
}
.enunciadoAdministrador{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 1080px;
    text-align: center;
    position: absolute;
}
#cambioContrasena{
    width: 600px;
    height: 160px;
    display: none;
}
#cambioA{ 
    float: left;
    position: absolute;
}
#cambioN{ 
    margin-left: 300px;
    float: left;
    position: absolute;
}
.cambioText{
    width: 600px;
    height: 80px;
    position: absolute;
}
.cambioArea{
    width: 600px;
    height: 80px;
    margin-top: 60px;
    position: absolute;
}
#contraActual{
    margin-left: -300px;
    width: 200px;
    height: 25px;
    float: left;
    position: absolute;
}
#contraNueva{ 
    width: 200px;
    height: 25px;
    float: left;
    position: absolute;
}
.registro{ 
    width: 200px;
    height: 25px;
}
.contenedorFormularioI{
    text-align: left;
    width: 800px;
    height: 500px;
    margin: 50px;
    position: absolute;
}
#RegistrarUsuario{
    margin-top: 10px;
}
.textoa{
    margin-block-end: 5px;
}
.centralU{
    background-color: antiquewhite;
    background-image: url("pantalla.jpg");
    background-repeat: no-repeat;
    width: 1080px;
    height: 900px;
    margin: 0 auto;
}
.centralA{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    width: 1080px;
    height: 900px;
    margin: 0 auto;
}
#retirarDinero{
    display: none;
}

