<!DOCTYPE html>
<html>

<head>

    <h1 id="titulo">Bienvenido administrador</h1>
    <link href="{{ url_for('static', filename='estilo.css') }}" type="text/css" rel="stylesheet" media="">
    <script src="static/administrador.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <section class="centralA">
        <h2 class="enunciadoAdministrador">Bienvenido al menu de administrador ¿que desea hacer?</h2>

        <div class="menuAdministrador">

            <button class="botonA" onclick=ingresarUsuario()>Ingresar usuario</button>
            <button class="botonA" onclick=eliminarUsuario()>Eliminar usuario</button>
        </div>
        <div id="emergenteI" class="emergenteInscripcion">

            <div class="cerrar">
                <a href="javascript:cerrarIUsuario()">
                    <img src="static/cerrar.png"></a>
            </div>
            <div class="contenedorFormularioI">
                <h2 class="texto">Ingrese los datos del nuevo usuario</h2>
                <h2 class="textoa">Numero identificacion</h2>
                <textarea id="registroNumeroId" class="registro"></textarea>
                <h2 class="textoa">Nombre</h2>
                <textarea id="registroNombre" class="registro"></textarea>
                <div>
                    <button id="RegistrarUduario" onclick="registrarUsuario()">Registrar</button>
                </div>
            </div>
        </div>
        <div id="emergenteE" class="emergenteEliminacion">
            <div class="cerrar">
                <a href="javascript:cerrarEUsuario()">
                    <img src="static/cerrar.png"></a>
            </div>
            <div class="contenedorFormularioI">
                <h2 class="texto">Ingrese los datos del usuario que desea eliminar</h2>
                <h2 class="idUsuarioE">Numero identificacion</h2>
                <textarea id="eliminacionNumeroId" class="registro"></textarea>
                <div>
                    <button id="eliminarUsuario">Eliminar</button>
                </div>
            </div>

        </div>

    </section>
    
</body>

</html>
