<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='estilo.css') }}" type="text/css" rel="stylesheet" media="">
</head>

<body>
    <section class="centralU">
        <div class="enunciado">
            <h2 id="text" class="texto">Bienvenido al menu principal ¿que desea hacer?</h2>
            <div id="retirarDinero">
                <textarea id="idDeCuenta"></textarea>
            </div>
            <div id="cambioContrasena">
                <div class="cambioText">
                    <h2 id="cambioA">Contraseña actual</h2>
                    <h2 id="cambioN">Contraseña nueva</h2>
                </div>
                <div class="cambioArea">
                    <textarea id="contraActual"></textarea>
                    <textarea id="contraNueva"></textarea>
                </div>
            </div>
        </div>
        <div class="botonL">
            <button class="boton" onclick="boton1()"></button>
            <button class="boton" onclick="boton2()"></button>
            <button class="boton" onclick="boton3()"></button>
            <button class="boton" onclick="boton4()"></button>
        </div>
        <div class="menuL">
            <h2 id="opcion1" class="opcionL">Retirar dinero</h2>
            <h2 id="opcion2" class="opcionL">Ver saldo en cuenta</h2>
            <h2 id="opcion3" class="opcionL">Tarjeta de cuenta</h2>
            <h2 id="opcion4" class="opcionL">Cambiar contraseña</h2>
        </div>
        <div class="menuR">
            <h2 id="opcion5" class="opcionR"></h2>
            <h2 id="opcion6" class="opcionR"></h2>
            <h2 id="opcion7" class="opcionR"></h2>
            <h2 id="opcion8" class="opcionR">Salir</h2>
        </div>
        <div class="botonR">
            <button class="boton" onclick="boton5()"></button>
            <button class="boton" onclick="boton6()"></button>
            <button class="boton" onclick="boton7()"></button>
            <button class="boton" onclick="boton8()"></button>
        </div>
    </section>
    <script src="static/cliente.js"></script>   
</body>

</html>
